{% set boardMembers = craft.entries()
    .section('boardMembers')
    .orderBy('lft asc')
    .all() %}

{% if boardMembers | length %}
    <ul>
        {% for member in boardMembers %}
            {% set role = member.role | trim %}
            <li>
                {{ member.title }}{% if role %}, {{ role }}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
