<div class="h-[350px] md:h-[700px] w-full"
    style="background-image: url('/images/_992x558_crop_center-center_82_line/museum-front-hero.jpg.webp');
    background-position: center center;
    background-size: cover;">
</div>