<h2 class="text-xl text-center mb-4 mt-40 ">
    Thank You To Our 2023 Patrons
</h2>
<div class="md:flex flex-wrap justify-between items">
    <div class="text-center text-gray-700 italic prose prose-a:no-underline prose-a:hover:underline prose-a:text-blue-600 ">
        Dave Burnham Citroen<br>
        Don's Automotive Service<br>
        <a href="https://duanesburgdiner.com/">Duanesburg Diner</a><br>
        Esperance Auto Electric<br>
        Esperance Elks<br>
    </div>
    <div class="text-center text-gray-700 italic prose prose-a:no-underline prose-a:hover:underline prose-a:text-blue-600">
        <a href="https://www.facebook.com/esperancehealthandwellness/">Esperance Health & Wellness</a><br>
        Heritage Memorials<br>
        Home Magic<br>
        Langan Funeral Home<br>
    </div>
    <div class="text-center text-gray-700 italic prose prose-a:no-underline prose-a:hover:underline prose-a:text-blue-600">
        Livingston Fuels<br>
        Perillo Insurance Agency<br>
        Pick-a-Pumpkin Pumpkin Patch<br>
        Pine Ridge Dental<br>
        Young Home Heating Fuels<br>
    </div>
</div>